<header class="container">
  <div class="header-top">
    <a href="index.html">
      <img src="images/header-logo.png" height="100px" alt="Tech Store logo" />
    </a>

    <div class="header-icons">
      <!-- PROFILE -->
      <a id="profile-btn"><i class="fa-solid fa-user"></i></a>

      <div id="profile-menu" class="profile-menu">
        <a href="sign-in.html" class="btn" id="login-btn">Login</a>
        <a href="sign-up.html" class="btn" id="signup-btn">Sign Up</a>
        <a href="#" class="btn" id="logout-btn" style="display:none;">Logout</a>
      </div>

      <!-- CART -->
      <a id="cart-btn"><i class="fa-solid fa-cart-shopping"></i></a>
      

      <!-- CART POPUP -->
      <div id="cart-popup" class="cart-popup">
        <h4>Your Cart</h4>

        <div id="cart-items">
          <!-- JS injects cart items here -->
        </div>

        <div class="cart-footer">
          <p>Total: <strong id="cart-total">$0</strong></p>
          <button id="go-payment" class="btn">Go to Payment</button>
        </div>
      </div>

      <!-- WISHLIST -->
      <a><i class="fa-solid fa-heart"></i></a>
    </div>
  </div>

  <nav>
    <ul class="header-nav">
      <li><a href="index.html">Homeeee</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
</header>
